.pricing {
  background-image: url("../../../assets/img/pricing.png");
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  //height: 85vh;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-badge {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding: 10px;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .pricing-btn {
  font-size: 80%;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  transition: all 0.2s;
  color: white !important;
}

.pay {
  background: transparent linear-gradient(90deg, #564AD1 0%, #7370DF 100%) 0% 0% no-repeat padding-box;
}

.kartoona {
  background: transparent linear-gradient(90deg, #FF3B8E 0%, #D200FF 100%) 0% 0% no-repeat padding-box;
}

.bronze {
  background: transparent linear-gradient(90deg, #EA8429 0%, #F9C499 100%) 0% 0% no-repeat padding-box;
}

.silver {
  background: transparent linear-gradient(90deg, #B6B6B6 0%, #E0E0E0 100%) 0% 0% no-repeat padding-box;
}

.gold {
  background: transparent linear-gradient(90deg, #FEA025 0%, #FEF735 100%) 0% 0% no-repeat padding-box;
}

.diamond {
  background: transparent linear-gradient(90deg, #00B8EE 0%, #05E4F6 100%) 0% 0% no-repeat padding-box;
}

.payment-gateway {
  cursor: pointer;
  background: transparent linear-gradient(90deg, #00B8EE 0%, #05E4F6 100%) 0% 0% no-repeat padding-box;
  img {
    width: 125px;
    padding: 10px;
    height: auto;
    opacity: 0.5;
  }
  .active-gateway {
    opacity: 1 !important;
  }
}
