<div class="gray-bg">
  <header-component></header-component>

  <div class="container-fluid pt-150">
    <div class="row align-items-center">
      <div class="col-md-5 text-center">
        <img width="50%" class="m-auto" src="./assets/img/bg/monster.png">
      </div>
      <div class="col-md-7 text-alignment">
        <h2 class="mb-4">
          متاسفانه صفحه مورد نظر یافت نشد
        </h2>

        <p class="mb-3">
          لطفا در وارد کردن آدرس دقت کنید و یا از گزینه جستجو در بالای صفحه کمک بگیرید
        </p>

        <div>
          <button class="white full-rounded border-white medium-button purple-gradiant-bg" routerLink="/">
            بازگشت به صفحه اصلی
          </button>
        </div>
      </div>
    </div>
  </div>

  <footer-component></footer-component>
</div>
