#profileWrapper {
  background: url("/assets/img/bg/triangles-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
#spiderman{
  position: relative;
  top: 10px;
}
mat-form-field{
  width: 100%;
}
#ninja-image{
  width: 50%;
  max-width: 500px;
}
.tab-icon{
  padding: 5px;
}
