.page-link {
  margin: 5px;
  border-radius: 5px;
  //border: 0;
  //min-width: 50px;
  //min-height: 50px;

}

ul {
  justify-content: center;
}

.active {
  //border: 0;
  a {
    border: 0;
    background: transparent linear-gradient(90deg, #ff3b8e 0%, #d200ff 100%) 0% 0% no-repeat padding-box !important;
  }
}
