#mostViewd {
  position: relative;
  top: -30px;
}

.about-kartoona {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  #mostViewdBanner {
    margin-bottom: 40px !important;
  }
  .about-kartoona {
    width: 70%;
  }
}

.fading-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 100%;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 1) 100%
  );
}

.fading-layer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 100%;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.2) 90%,
      rgba(255, 255, 255, 0.9) 100%
  );
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 0;
    padding-right: 15px;

    .section-title {
      margin-left: 15px;
    }

    // .arrow-slider-component{
    //     width: 100%;
    // }
  }
  .ml-sm-15 {
    margin-left: 15px;
  }
}
