<header-component></header-component>

<full-slider-component *ngIf="slider && slider.length>0" class="d-block" [data]="slider"></full-slider-component>

<div class="bg-layer-1"
     [style.background]="'url(assets/img/bg/61.svg)'">
  <div *ngFor="let section of sections;let index= index">
    <div *ngIf="section && section.sectionMoviesList?.length>0">
      <div class="container">
        <div *ngIf="section.title" class="section-title">
          <h2>
            {{section.title}}
          </h2>

          <div>
            <a [routerLink]="section.url">مشاهده همه</a>
          </div>
        </div>
      </div>


      <div *ngIf="section.template===1">
        <div class="container">
          <arrow-slider-component [id]="'section'+index" [config]="sliderService.sliderMd4"
                                  [data]="section.sectionMoviesList">
          </arrow-slider-component>
        </div>
      </div>

      <div *ngIf="section.template===2">
        <div class="container">
          <arrow-slider-component [id]="'section'+index" [config]="sliderService.sliderMd5"
                                  [data]="section.sectionMoviesList">
          </arrow-slider-component>
        </div>
      </div>

      <div *ngIf="section.template===3">
        <div class="container">
          <arrow-slider-component [id]="'section'+index" [config]="sliderService.sliderMd6"
                                  [data]="section.sectionMoviesList">
          </arrow-slider-component>
        </div>
      </div>

      <div *ngIf="section.template===4">
        <div class="container">
          <div class="row">
            <div class="col-md-7 ml-sm-15">
              <div class="row">
                <div class="col-6 col-md-4 mb-2"
                     *ngFor="let mv of section.sectionMoviesList.slice(1, section.sectionMoviesList.length)">
                  <info-image-top-card-component [data]="mv"></info-image-top-card-component>
                </div>
              </div>
            </div>
            <div class="col-md-5 ml-sm-15">
              <info-image-fading-card-component [data]="section.sectionMoviesList[0]">
              </info-image-fading-card-component>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="section.template===5">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-sm-15">
              <info-image-fading-card-component [data]="section.sectionMoviesList[0]">
              </info-image-fading-card-component>
            </div>

            <div class="col-md-7 ml-sm-15">
              <div class="row">
                <div class="col-6 col-md-4 mb-2"
                     *ngFor="let mv of section.sectionMoviesList.slice(1, section.sectionMoviesList.length)">
                  <info-image-top-card-component [data]="mv"></info-image-top-card-component>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="section.template===6">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-sm-15 d-flex align-items-end">
              <div class="fading-layer-bottom"></div>

              <picture>
                <source media="(max-width: 992px)"
                        [srcset]="section.sectionMoviesList[0].images?.covers[0]?.sizes?.s150?section.sectionMoviesList[0].images.covers[0].sizes.s150:''"/>
                <source media="(max-width: 1920px)"
                        [srcset]="section.sectionMoviesList[0].images?.covers[0]?.sizes?.s300?section.sectionMoviesList[0].images.covers[0].sizes.s300:''"/>
                <img class="poster mb-2 d-md-none d-block w-100"
                     [alt]="section.sectionMoviesList[0]?.persian_name"
                     [src]="section.sectionMoviesList[0].images?.covers[0]?.sizes?.s700?section.sectionMoviesList[0].images.covers[0].sizes.s700:''"/>

              </picture>

            </div>

            <div class="col-md-7 ml-sm-15 text-alignment">
              <div class="top-links text-right mb-3">
                <a class="d-inline-block purple-bg py-1 px-2 white ml-2 rounded"
                   *ngFor="let tl of section.sectionMoviesList[0]?.genres"
                   [routerLink]="'/genre/'+tl.slug">{{tl.name}}</a>
              </div>
              <h2 class="xlight-black font-lg">{{section.sectionMoviesList[0].persian_name}}</h2>
              <div id="mostViewdBanner" class="xlight-black font-sm mb-0 text-justify">
                <p [innerHTML]="section.sectionMoviesList[0].summary">
                </p>

                <a [routerLink]="'/movie/'+section.sectionMoviesList[0].slug"
                   class="d-inline-block mb-3 white full-rounded border-white medium-button purple-gradiant-bg">
                  مشاهده
                </a>
              </div>
            </div>
          </div>
          <arrow-slider-component [id]="'section'+index" [config]="sliderService.sliderMd6"
                                  [data]="section.sectionMoviesList.slice(1,section.sectionMoviesList.length)">
          </arrow-slider-component>
        </div>
      </div>

      <div *ngIf="section.template==7">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col px-0">
              <app-info-full-width-card [data]="section.sectionMoviesList[0]"></app-info-full-width-card>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="section.template==8">
        <div class="container">
          <arrow-slider-component [cardType]="2" [id]="'section'+index" [config]="sliderService.sliderMd3"
                                  [data]="section.sectionMoviesList">
          </arrow-slider-component>
        </div>
      </div>

      <div *ngIf="section.template==9">
        <div class="container">
          <arrow-slider-component [cardType]="3" [id]="'section'+index" [config]="sliderService.sliderMd3"
                                  [data]="section.sectionMoviesList">
          </arrow-slider-component>
        </div>
      </div>
    </div>
  </div>

  <div class="about-kartoona">
    <h1>کارتونا، تماشای آنلاین کارتون های جدید و بهترین انیمیشن های دوبله فارسی</h1>

    <div class="text-justify font-xsm">
      وب سایت کارتونا، تلویزیون آنلاین کودک و نوجوان با هدف پخش کارتون های جدید و آموزنده در سال 1397 شروع به کار کرد.
      کارتونا یک وب سایت تخصصی در حوزه کارتون و انیمیشن کودک و نوجوان است که با طبقه بندی رده سنی کارتون ها، بررسی و
      تحلیل کارتون ها از جنبه روانشناسی، کودکان و خانواده ها را در انتخاب صحیح کارتون های کودک و نوجوان جهت رشد جنبه های
      مختلف شخصیتی آنها راهنمایی می کند. پخش آنلاین انیمیشن های دوبله اختصاصی، کارتون های شاد و موزیکال مناسب کودکان،
      کارتون های نوجوانانه، کارتون های مناسب کودکان اوتیسم و سایر اختلالات روانشناسی و... بخشی از خدمات کارتنا می باشد.
      با عضویت در کارتونا می توانید کارتون های دوبله فارسی را در این سایت با هزینه ای کم به صورت آنلاین تماشا کنید.
      تماشای آنلاین کارتون ها و انیمیشن های زیر در کارتونا:
      کارتون های جدید و به روز
      کارتون های دهه 60
      مستندهای جدید و دیدنی
      کارتون های شاد و موزیکال
      کارتون های دخترانه و پسرانه
      کارتون های سینمایی
      انیمیشن های سریالی
      کارتون های ماجراجویی
      کارتون های خانوادگی
      کارتون های کودکان زیر 4 سال
      انیمیشن های ابرقهرمانی
      انیمیشن های نوجوانانه
      کارتون های بی کلام
      انیمیشن های آموزش زبان انگلیسی برای کودکان
    </div>
  </div>
  <footer-component></footer-component>
</div>
