<header-component></header-component>
<div class="about-us">
  <div class="container-fluid p-lg-5">
    <div class="about-container">
      <div class="text-center about-title mb-4">
        درباره کارتونا
      </div>

      <div class="text-center about-content">
        وب سایت کارتونا با هدف پخش انواع کارتونهای مناسب کودکان و نوجوانان راه اندازی شد. انیمیشن های وب سایت کارتنا
        دراین دسته بندی ها قرار دارند. متاسفانه درشبکه های تلویزیونی و ماهواره ای، میزان زمانی که کودکان صرف تماشای
        برنامه می کنند در کنترل آنها نیست. زمان پخش برنامه ها هم در اختیار آنها نمی باشد. به همین دلیل نیاز به رسانه های
        دیگه ای می باشد که کودک یا نوجوان هر زمان که خواست بتواند برنامه مورد علاقه خود را ببیند و مدت زمان تماشای
        کارتون و انیمیشن هم در اختیار بیننده باشد. علاوه بر این، در وب سایت کارتونا برنامه ها، فیلم ها و انیمیشن های
        نمایش داده شده، قابل کنترل و انتخاب شده می باشد.
      </div>
    </div>
    <div class="about-container">
      <div class="text-center about-list-title mb-4">
        از ویژگی متمایز کارتونا به این موارد می توان اشاره کرد :
      </div>
      <div class="row ">
        <div class="col-12 col-lg-6 text-center d-lg-none  text-center">
          <img width="100%" class="feature-image" src="./assets/img/smiley-siblings.png" />
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex align-items-center justify-content-center  justify-content-lg-end">
            <ul class="feature-list text-center text-lg-justify">
              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">کارتونا به‌صورت تخصصی برای قشر کودک و نوجوان پخش کارتون، سریال وفیلم دارد</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">سایت‌های دیگر انواع کلیپ‌ها و فیلم‌های غیر مرتبط سنی را پیشنهاد نمایش
                  می‌دهند</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">فیلم‌ها و سریال‌های سایت کارتونا به صورت موضوعی طبقه‌بندی شده است</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">دسترسی به فیلم‌های آموزشی، کارتون‌ها و انیمیشن‌ها بسیار ساده می‌باشد</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">کارتونا علاوه بر کودک و نوجوان، فیلم‌های علمی آموزشی و تربیتی برای والدین نیز
                  دارد</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">فیلم‌ها و کارتون‌های خاطره‌انگیر قدیمی را در کارتونا می‌توانید مشاهده کنید</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">مصرف اینترنت در سایت کارتونا نیم‌بها محاسبه می‌شود</span>
              </li>

              <li class="m-3">
                <span class="list-bullet mx-2"></span>
                <span class="font-xsm">جدیدترین کارتون‌ها، فیلم‌ها و انیمیشن‌ها در این وب‌سایت قابل مشاهده
                  می‌باشد</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-6 text-center d-none d-lg-inline text-center">
          <img width="100%" class="feature-image" src="./assets/img/smiley-siblings.png" />
        </div>
      </div>
    </div>
    <div class="about-container">
      <div class="text-center about-list-title mb-4">
        دسته‌بندی فیلم‌ها در سایت کارتونا :
      </div>
      <div class="text-center font-sm">
        کارتونا با توجه به اهمیت داشتن سنین کودک و نوجوان، دسته‌بندی فیلم‌ها را چنین تقسیم‌بندی نموده است
      </div>
      <div class="card-box">
        جالب است که کارتونا به سنین زیر 4 سال نیز اهمیت داده و انواع فیلم‌ها و مطالب آموزشی را نیز در این بخش قرار داده
        است. کودکان با دیدن این بخش می‌توانند انواع سرگرمی‌ها و مطالب آموزشی را مشاهده نمایند. آموزش آسان با متن،
        آهنگ‌های ساده برای کودکان، ماشا و میشا، آموزش زبان کودکان و غیره بخشی از عناوین فیلم‌هایی است که با کیفیت HD در
        دسترس است.
      </div>
      <div class="m-5 d-flex flex-wrap justify-content-center align-items-center">
        <div class="text-center m-3 mx-lg-5">
          <div id="cinema" class="circle-item">
            <img src="./assets/img/icons/film.svg" />
          </div>
          <p class="font-xsm">کارتون‌های سینمایی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="series" class="circle-item">
            <img src="./assets/img/icons/noun_series.svg" />
          </div>
          <p class="font-xsm">کارتون‌های سریالی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="sixties" class="circle-item">
            <img src="./assets/img/icons/film.svg" />
          </div>
          <p class="font-xsm">کارتون‌های دهه 60</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="under4" class="circle-item">
            <img src="./assets/img/icons/film.svg" />
          </div>
          <p class="font-xsm">کارتون کودکان زیر 4 سال</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="documantary" class="circle-item">
            <img src="./assets/img/icons/video-camera.svg" />
          </div>
          <p class="font-xsm">مستند</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="mother" class="circle-item">
            <img src="./assets/img/icons/mother-and-son.svg" />
          </div>
          <p class="font-xsm">مادر و کودک</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="experiment" class="circle-item">
            <img src="./assets/img/icons/research.svg" />
          </div>
          <p class="font-xsm">آزمایش و مطالب علمی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="trailer" class="circle-item">
            <img src="./assets/img/icons/sand-clock.svg" />
          </div>
          <p class="font-xsm">پیش پرده</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="teenage" class="circle-item">
            <img src="./assets/img/icons/film.svg" />
          </div>
          <p class="font-xsm">کارتون‌های نوجوان</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="comedy" class="circle-item">
            <img src="./assets/img/icons/smile.svg" />
          </div>
          <p class="font-xsm">کارتون‌های کمدی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="adventure" class="circle-item">
            <img src="./assets/img/icons/noun_Compass.svg" />
          </div>
          <p class="font-xsm">انیمیشن ماجراجویی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="scifi" class="circle-item">
            <img src="./assets/img/icons/ufo-flying.svg" />
          </div>
          <p class="font-xsm">علمی تخیلی</p>
        </div>

        <div class="text-center m-3 mx-lg-5">
          <div id="mainLanguage" class="circle-item">
            <img src="./assets/img/icons/" />
          </div>
          <p class="font-xsm">کارتون زبان اصلی</p>
        </div>
      </div>
    </div>

  </div>
</div>
<footer-component></footer-component>