$text-alignment: right;
$reverse-text-alignment: left;
$dir-alignment: rtl;
$reverse-dir-alignment: ltr;
$float-alignment: right;
$reverse-float-alignment: left;

$font-ratio: 0;
$font-xxsm: 0.7rem;
$font-xsm: 0.8rem;
$font-sm: 0.9rem;
$font-nr: 1rem;
$font-md: 1.2rem;
$font-lg: 1.4rem;
$font-xlg: 1.6rem;
$font-xxlg: 1.8rem;
$font-xxxlg: 2rem;

$font-xxsm-height: 1.2rem;
$font-xsm-height: 1.3rem;
$font-sm-height: 1.5rem;
$font-nr-height: 1.6rem;
$font-md-height: 1.8rem;
$font-lg-height: 2.2rem;
$font-xlg-height: 2.5rem;
$font-xxlg-height: 2.75rem;
$font-xxxlg-height: 3rem;

$white: white;
$gray: #d2d2d2;
$black: #222;
$light-black: #555;
$xlight-black: #777;
$dark-gray: #aaa;
$xdark-gray: #949494;
$gold: #f0b96a;
$red-bg: #db4665;
$dark-blue: #6e7faa;
$purple: #c094f9;
$pink: #d800ea;
$green: #2ecc71;
$danger: #e74c3c;
$purple-gradiant: transparent linear-gradient(90deg, #ff3b8e 0%, #d200ff 100%) 0% 0% no-repeat padding-box;
