<header-component></header-component>

<div *ngIf="movie">
  <app-json-ld
    [comments]="commentList"
    [data]="movie" [type]="movie.series?'series':'movie'">
  </app-json-ld>

  <div class="fading-wrapper position-relative movie-info-lg d-md-block"
       [style.background]="'url('+movie?.images?.covers[0]?.sizes?.sfull+')'">
    <div class=" fading-layer"></div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-3">
          <img class="thumbnail block"
               [alt]="movie?.persian_name"
               [src]="movie?.images?.thumbnails[0]?.sizes?.sfull?movie.images.thumbnails[0].sizes.sfull:'./assets/img/placeholder.gif'"/>
        </div>

        <div class="col-sm-9 text-right transparrent-white">
          <h1 class="movie-title mb-2 light-black font-lg">{{movie?.persian_name}}</h1>

          <h1 class="mb-1 light-black font-lg">{{movie?.original_name}}</h1>

          <div class="rate d-inline-flex align-items-center mb-1 light-black">
            <span>{{movie?.imdb}}</span>
            <img src="assets/img/icons/imdb.png"/>
          </div>

          <div class="mb-1 light-black font-sm">
            رده سنی : {{movie?.pg?.name}}
          </div>

          <div *ngFor="let role of movie?.casts | keyvalue" class="mb-1 light-black font-sm">
            {{role.key}} : <span *ngFor="let cast of role.value; let last=last">
              {{cast.name}}
            <span *ngIf="!last">, </span>
            </span>
          </div>

          <div class="mb-1 light-black font-sm">
            مدت زمان : {{movie?.duration | duration}}
          </div>

          <div class="mb-1 light-black font-sm">
            محصول : {{movie?.country}} - {{movie?.year}}
          </div>

          <div *ngIf="movie?.company" class="mb-1 light-black font-sm">
            کمپانی سازنده : {{movie?.company.name}}
          </div>

          <div *ngIf="movie?.genres" class="mb-1 light-black font-sm">
            ژانر :
            <a class="font-xxsm" *ngFor="let genre of movie?.genres;let last=last" [routerLink]="'/genre/'+genre.slug">
              {{genre.name}}
              <span *ngIf="!last">, </span>
            </a>
          </div>

          <div class="mb-1 light-black font-sm">
            زبان : {{movie?.language}}
          </div>

          <div class="mb-1 light-black font-sm">
            خلاصه داستان :
          </div>
          <p class="font-xsm light-black text-justify" [innerHTML]="movie.description | seemore">
          </p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-8">
          <div class="white-bg rounded p-2">
            <div class="row">
              <div class="col">
                <div class="font-nr light-black text-right">
                  اینترنت استفاده از محتوای این بخش برای شما نیم بها محاسبه می شود
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-1 px-1" *ngFor="let isp of  isps">
                <img width="100%" [src]="isp.src" [alt]="isp.name"/>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="white-bg rounded p-2 text-right">
            <div class="text-center font-nr light-black">
              امتیاز کاربران کارتونا
            </div>
            <div class="text-center mt-2">
              <div>
                ({{movie.kartoonaRate}} امتیاز)
                <i class="gold fa fa-star" aria-hidden="true"></i>
              </div>
              <div>
                ({{movie.rateCount}} رای)
                <i class="purple fa fa-user" aria-hidden="true"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tvContainer">
    <div *ngIf="!hidePlayer">
      <div class="text-center">
        <span>
          <a
            class="d-inline-block py-2 px-4 white ml-2 full-rounded border-white medium-button purple-gradiant-bg cursor-pointer"
            *ngFor="let trailer of movie.urls.trailers;let i=index;let l=last;"
            (click)="changeTVurl(trailer)">{{'نمایش پیش پرده ' + (l && i == 0 ? '' : i + 1) }} </a>
        </span>

        <span *ngIf="showTrailers">
          <a *ngFor="let main of movie.urls.mains;let i=index;let l=last;"
             class="d-inline-block py-2 px-4 white ml-2 full-rounded border-white medium-button purple-gradiant-bg cursor-pointer"
             (click)="changeTVurl(main)">{{'نمایش فیلم اصلی' + (l && i == 0 ? '' : i + 1)}}</a>
        </span>
      </div>

      <div *ngFor="let url of tvUrls;let i=index;let last=last;" class="player-container mt-5" #mainList>
        <img src="assets/img/movie/frame/all-2.png">

        <video-player-component [id]="'player'+i"
                                class="player-wrapper"
                                [url]="url.hls">
        </video-player-component>
      </div>
      <div *ngIf="!showTrailers&&tvUrls.length===0" class="player-container mt-5">
        <img src="assets/img/movie/frame/all.png">
        <div class="iframe-empty" [style.background-image]="'url('+movie.images?.covers[0]?.sizes?.s700+')'">
          <a *ngIf="!movie?.inappropriate"
             class="d-inline-block py-2 px-4 white ml-2 full-rounded border-white medium-button purple-gradiant-bg cursor-pointer"
             (click)="changeTVurl(null)">
            نمایش فیلم
          </a>

          <a *ngIf="movie?.inappropriate"
             class="d-inline-block py-2 px-4 white ml-2 full-rounded border-white medium-button purple-gradiant-bg cursor-pointer">
            محتوای نامناسب برای رده سنی شما
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="fading-wrapper position-relative movie-info-sm d-block d-md-none"
       [style.background]="'url('+movie?.images?.covers[0]?.sizes?.sfull+')'">
    <div class="fading-layer"></div>
    <div class="container mt-5 px-4">
      <div class="row">
        <div class="col">
          <img class="thumbnail block"
               [src]="movie?.images?.thumbnails[0]?.sizes?.sfull?movie.images.thumbnails[0].sizes.sfull:'./assets/img/placeholder.gif'"/>
        </div>
      </div>

      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="movie-title mb-1 light-black font-lg">{{movie?.persian_name}}</h1>
          <h1 class="mb-1 light-black font-lg">{{movie?.original_name}}</h1>

          <div class="rate d-inline-flex align-items-center mb-2 light-black">
            <span>{{movie?.imdb}}</span>
            <img src="./assets/img/icons/imdb.png"/>
          </div>

          <div class="mb-2 font-sm light-black">
            رده سنی : {{movie?.pg?.name}}
          </div>

          <div *ngFor="let role of movie?.casts | keyvalue" class="mb-2 light-black font-sm">
            {{role.key}} : <span *ngFor="let cast of role.value; let last=last">
              {{cast.name}}
            <span *ngIf="!last">, </span>
            </span>
          </div>

          <div class="mb-2 font-sm light-black">
            مدت زمان : {{movie?.duration | duration}}
          </div>

          <div class="mb-1 font-sm light-black">
            محصول : {{movie?.country}} - {{movie?.year}}
          </div>

          <div *ngIf="movie?.company" class="mb-1 light-black font-sm">
            کمپانی سازنده : {{movie?.company.name}}
          </div>

          <div *ngIf="movie?.genres" class="mb-1 light-black font-sm">
            ژانر :
            <a class="font-xxsm" *ngFor="let genre of movie?.genres;let last=last" [routerLink]="'/genre/'+genre.slug">
              {{genre.name}}
              <span *ngIf="!last">, </span>
            </a>
          </div>

          <div class="mb-1 font-sm light-black">
            زبان : {{movie?.language}}
          </div>

          <div class="mb-1 font-sm light-black">
            خلاصه داستان :
          </div>
          <p class="font-xsm light-black text-justify" [innerHTML]="movie.description | seemore">
          </p>
        </div>
      </div>

      <div class="row mt-5 white-bg-with-shadow">
        <div class="col-12">
          <div class="row">
            <div class="col">
              <div class="light-black mb-3 text-center font-sm">
                اینترنت استفاده از محتوای این بخش برای شما نیم بها محاسبه می شود
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-center mb-2" *ngFor="let isp of  isps">
              <img class="isp-thumbnail white-bg-with-shadow" width="100%" [src]="isp.src" [alt]="isp.name"/>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="rounded p-2 text-right">
            <div class="text-center font-nr light-black">
              امتیاز کاربران کارتونا
            </div>
            <div class="text-center mt-2">
              ({{movie.rateCount}})
              <i class="gold fa fa-user" aria-hidden="true"></i>
              ({{movie.kartoonaRate}})
              <i class="gold fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 my-4">
        <div class="text-center font-nr light-black">
          افزودن به علاقه مندی ها
        </div>
        <div class="text-center">
          <i (click)="addToFavorites()"
             *ngIf="!bookmark"
             class="fas fa-bookmark font-xlg cursor-pointer gray"></i>
          <i (click)="addToFavorites()"
             *ngIf="bookmark"
             class="fas fa-bookmark font-xlg cursor-pointer purple"></i>
        </div>
      </div>
      <div class="col-lg-3 my-4">
        <div class="text-center font-nr light-black">
          به این فیلم چند ستاره میدی؟
        </div>
        <div class="text-center mt-2">
          <p-rating (onRate)="saveRate()" [cancel]="false" [(ngModel)]="rate" class="rate-lg"></p-rating>
        </div>
      </div>
<!--      <div class="col-lg-6 my-4">-->
<!--        <div class="sharethis-inline-share-buttons"></div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="container">
    <div *ngIf="movie?.series" class="row">
      <div class="col">
        <div class="section-title mb-4">
          <span>
            سایر قسمت‌ها
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="movie?.series" class="row">
      <div class="col">
        <div class="vertical-tab">
          <mat-tab-group animationDuration="0ms">
            <mat-tab *ngFor="let season of movie?.seasonsList;let i=index" [label]="'فصل '+ season.index">
              <episode-card-component *ngFor="let episode of season.data" [data]="episode"
                                      [routerLink]="'/movie/'+slug+'/'+episode.slug"
                                      [img]="movie?.images?.thumbnails[0]?.sizes?.sfull">
              </episode-card-component>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div *ngIf="suggestionsList && suggestionsList.length>0">
      <div class="row">
        <div class="col">
          <div class="section-title mb-4">
            <span>
              فیلم های پیشنهادی
            </span>
          </div>
        </div>
      </div>

      <arrow-slider-component [id]="'suggested'" [config]="sliderService.sliderMd5" [data]="suggestionsList">
      </arrow-slider-component>

    </div>

    <div *ngIf="similarMovies && similarMovies.length>0">
      <div class="row">
        <div class="col">
          <div class="section-title mb-4">
            <span>
              فیلم های مشابه
            </span>
          </div>
        </div>
      </div>

      <arrow-slider-component [id]="'similar'" [config]="sliderService.sliderMd5" [data]="similarMovies">
      </arrow-slider-component>
    </div>

    <div>
      <div *ngIf="commentList && commentList.length>0" class="row">
        <div class="col">
          <div class="section-title mb-4">
            <span>
              نظرات
            </span>
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <comment-card-component *ngFor="let comment of commentList" [comment]="comment"></comment-card-component>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="section-title mb-4">
            <span>
              نظرتان را ثبت کنید
            </span>
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <form [formGroup]="commentForm" class="d-block width-100">
          <div class="col">
            <div class="white-bg-with-shadow p-3 my-3 text-center">
              <div *ngIf="this.userService.userLoaded && !this.userService.user" class="row">
                <div class="col-md-6">
                  <input formControlName="name" placeholder="نام(اجباری)" class="block gray-bg-input mb-2"/>
                </div>
                <div class="col-md-6">
                  <input formControlName="email" placeholder="ایمیل" class="block gray-bg-input mb-2"/>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <textarea formControlName="comment" rows="5" placeholder="متن نظر ..." class="block gray-bg-input">
                </textarea>
                </div>
              </div>

              <button type="button" (click)="savecomment()"
                      class="mt-2 purple-gradiant-bg white full-rounded px-4 py-1 font-sm">ارسال
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
